.c-first-footer{
  padding-bottom: $content-padding-bottom;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #cccccc; //Unique
  font-size: 1.75rem; //Unique
  font-style: italic;
}
