
    <nav class="c-main-nav" id ="main-nav">
        <div class="c-main-nav__toggle-menu" id="toogle-menu">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="100px" height="100px"><path d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z"/></svg> <!-- Se ha dejado en <svg> y no como un <object> por el mal funcionamiento del cursor:pointer en <object> -->
        </div>
        <object data="./assets/images/logo.svg" class="c-main-nav__logo" id="logo"></object>
        <ul class="c-main-nav__main-menu" id="main-menu">
            <li class="c-main-nav__main-menu-item"><a class="c-main-nav__main-menu-item-link" href="#advice-container">Consejos</a></li>
            <li class="c-main-nav__main-menu-item"><a class="c-main-nav__main-menu-item-link" href="#nutrition-container">Nutrición</a></li>
            <li class="c-main-nav__main-menu-item"><a class="c-main-nav__main-menu-item-link" href="#success-container">Éxitos</a></li>
            <li class="c-main-nav__main-menu-item"><a class="c-main-nav__main-menu-item-button" href="https://es.wikipedia.org/wiki/Gimnasio">+ MundoGym</a></li>
        </ul>
    </nav>
