<div class="c-third-footer">
    <nav class="c-third-footer__footer-nav">
        <ul class="c-third-footer__footer-menu">
            <li class="c-third-footer__footer-menu-item"><a class="c-third-footer__footer-menu-item-link" href="#advice-container">Consejos</a></li>
            <li class="c-third-footer__footer-menu-item"><a class="c-third-footer__footer-menu-item-link" href="#nutrition-container">Nutrición</a></li>
            <li class="c-third-footer__footer-menu-item"><a class="c-third-footer__footer-menu-item-link" href="#success-container">Éxitos</a></li>
            <li class="c-third-footer__footer-menu-item"><a class="c-third-footer__footer-menu-item-link" href="https://es.wikipedia.org/wiki/Gimnasio">+ MundoGym</a></li>
        </ul>
    </nav>
    <div class="c-third-footer__footer-rights">
    <p>@MUNDOGYM - RESERVADOS TODOS LOS DERECHOS</p>
    <object data="./assets/images/logo.svg"></object>
    </div>
</div>
